<!doctype html>
<html>
    <head>
        <title>Climber Database</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {{#each jsscripts}}
        <script src="/static/scripts/{{this}}"></script>
        {{/each}}
        <link rel="stylesheet" href="/static/stylesheets/main.css">
    </head>
    <body>
        <header>
            <a href="/home"><h1>Climber Database</h1></a>
        </header>
        <nav>
            <ul>
                <li><a href="/climbers" id="climbers-link">Climbers</a></li>
                <li><a href="/problems" id="problems-link">Problems</a></li>
                <li><a href="/zones" id="zones-link">Zones</a></li>
            </ul>
        </nav>
        {{{body}}}
    </body>
</html>